
@font-face {
    font-family: "Signika";
    src: url('../Font/Signika-Regular.ttf');
}

@font-face {
    font-family: "Signika-Light";
    src: url('../Font/Signika-Light.ttf');
}
body {
    /*background-image: url(../image/Premium\ Photo\ _\ Vertical\ wrinkled\ paper.jpg);*/
    background-color: #d7d7d7;
    /*ackground: skyblue;*/
    margin: 0;
    padding: 0;
    font-family: "Signika";

    background-size: cover;

}



.menu {
    width: 100%;
    background: #00AEAE;
    overflow: auto;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 60px;
}

.menu li {
    float: left;
    background: #00aeae;

}

.menu ul li a {
    text-decoration: none;
    width: 130px;
    display: block;
    text-align: center;
    color: #f2f2f2;
    font-size: 18px;
    font-family: sans-serif;
    letter-spacing: 0.5px;
}

.menu li a:hover {
    color: #fff;
    color: #004e4e;
    opacity: calc(100%);
    font-size: 19px;
}

.search-form {
    margin-top: 15px;
    float: right;
    margin-right: 100px;
}

/* input[type=text] {
    padding: 7px;
    border: none;
    font-size: 16px;
    font-family: sans-serif;

} */

/*the search button*/
button {
    float: right;
    background: #C0DCEC;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    padding: 7px;
    font-family: sans-serif;
    border: none;
    font-size: 16px;
}

.searchText {
    padding: 7px;
    font-size: 1rem;
    font-family: sans-serif;
    border: 0;
    outline: 0;
    color: #C0DCEC;
    border-bottom: 2px solid #4d8f8f;
    background-color: transparent;
    text-align: center;
}
.searchText::placeholder{
    color: #C0DCEC;
}

@keyframes gradecolour {
    0%   {border-bottom-color: #4d8f8f}
    100% {border-bottom-color: #7de6e6;}
  }

.searchText:focus{
    animation-name: gradecolour;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}




/*about us div */
.about_us {
    color: white;
    text-align: center;

}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, .8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;

}

.box .image {
    text-align: center;
    margin-bottom: 30px;
    background-color: rgb(17, 16, 17);


}

.box h2 {
    color: rgb(255, 255, 255);
    margin: 0 0 30px;
    padding: 0;
    text-align: center;

}

.box .inputBox {
    position: relative;
}

.box .inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid orange;
    outline: none;
    background: transparent;


}

.box .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;

}

.box .inputBox input:focus~label,
.box .inputBox input:valid~label {
    top: -18px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}

.box input[type="submit"] {

    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: orange;
    ;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;

}

/*I do not have an account*/
.box a {

    text-decoration: none;
    color: white;
    margin-left: 50px;


}

.box a:hover {
    color: rgb(255, 255, 255);
    color: orange;
    opacity: calc(100%);

}

/* style for cards */


.newsContainer {
    padding: 3vh 0px 6vh;
    /* column-count: 2;*/
}

.card-columns {
    background-color: #a51616;
}


.image img {
    width: 100%;
    height: 88vh;
    max-height: 100vh;
    min-width: 10vw;
    max-width: 40vw;
    border-radius: 10px;
}

.card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    margin: 0 auto 2vh auto;
    background-color: #45B08C;
    border-radius: 10px;
    height: fit-content;
    overflow: hidden;
    width: 70%;
    color: #fff;
}


.card>.card-inner {
    padding: 10px;
}

.card .header h2,
h3 {
    margin-bottom: 0px;
    margin-top: 0px;

}

.header .PostTitle {
    font-size: 2rem;
    width: fit-content;
    width: -moz-fit-content;
    margin-top: -0.7rem auto -0.6vh;
    font-weight: 100;
    font-size: 30px;
}

.card .header {
    margin-bottom: 5px;
}

.card img {

    max-width: 99.5%;
    max-height: 100%;
    padding: 2px;



}


/* .card:hover {
    background-color: rgb(50, 50, 50);
    border-color: rgb(50, 50, 50);
    background-color: rgb(50, 50, 50);
} */



.cardScale:hover {
    transform: scale(1.08);
}

.languageColor {
    width: auto;
    height: 6px;
}

.text-secondary {
    margin: 1vh 0 2vh auto;
    font-weight: 100;
    font-size: 1rem;
}

#PostDescription {
    margin: auto auto 2vh auto;
    width: 95%;
    font-family: "Signika-Light";
}


#ReadMore {
    vertical-align: middle;
    margin: 0;
    float: right;
    border-radius: 6px;
    margin: 0 0 2vh 0;
}

.newsCardButton {
    list-style: none;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0;
}

.newsCardButton li {
    text-decoration: none;
    margin: 0 10px;
    position: relative;
}

#ReadMore.toNewsButton:hover {
    border-color: #a51616;
    border-radius: 6px;
}

.toNewsButton {
    background-color: #15998E;
    color: white;
    cursor: pointer;
}


.container .col .table-responsive table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}