body{
    background-image: url(news.jpg);
 /*ackground: skyblue;*/
    margin: 0 ;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;
}

.menu{
    width: 100% ;
    background: rgba(0,0,0,.8) ;
    overflow:auto;
}
.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 60px ; 
}

